<h1 class="page-header">Pessoas</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Visualizando Pessoa
    <%= link_to backoffice_people_path, class: "btn btn-warning btn-circle pull-right",
                                         style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Tipo:</strong>
      <%= @person.kind %>
    </p>

    <p>
      <strong>Nome:</strong>
      <%= @person.name %>
    </p>

    <p>
      <strong>Razão Social:</strong>
      <%= @person.company_name %>
    </p>

    <p>
      <strong>RG:</strong>
      <%= @person.person_rg %>
    </p>

    <p>
      <strong>Inscrição Estadual:</strong>
      <%= @person.personC_ie %>
    </p>

    <p>
      <strong>CPF:</strong>
      <%= @person.person_cpf %>
    </p>

    <p>
      <strong>CNPJ:</strong>
      <%= @person.personC_cnpj %>
    </p>

    <p>
      <strong>Endereço:</strong>
      <%= @person.address %>
    </p>

    <p>
      <strong>Numero Endereço:</strong>
      <%= @person.address_number %>
    </p>

    <p>
      <strong>Complemento:</strong>
      <%= @person.address_complement %>
    </p>

    <p>
      <strong>Bairro:</strong>
      <%= @person.address_bairro %>
    </p>

    <p>
      <strong>CEP:</strong>
      <%= @person.address_zip %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= @person.address_city %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @person.address_state %>
    </p>

    <p>
      <strong>Telefone Celular:</strong>
      <%= @person.person_tel1 %>
    </p>

    <p>
      <strong>Telefone Fixo:</strong>
      <%= @person.person_tel2 %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @person.person_email %>
    </p>
    <p>
      <strong>Observações:</strong>
      <%= @person.person_obs %>
    </p>
  </div>
</div>
