<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @backoffice_person.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @backoffice_person.name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @backoffice_person.company_name %>
</p>

<p>
  <strong>Person rg:</strong>
  <%= @backoffice_person.person_rg %>
</p>

<p>
  <strong>Personc ie:</strong>
  <%= @backoffice_person.personC_ie %>
</p>

<p>
  <strong>Person cpf:</strong>
  <%= @backoffice_person.person_cpf %>
</p>

<p>
  <strong>Personc cnpj:</strong>
  <%= @backoffice_person.personC_cnpj %>
</p>

<p>
  <strong>Personc provider:</strong>
  <%= @backoffice_person.personC_provider %>
</p>

<p>
  <strong>Address:</strong>
  <%= @backoffice_person.address %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @backoffice_person.address_number %>
</p>

<p>
  <strong>Address complement:</strong>
  <%= @backoffice_person.address_complement %>
</p>

<p>
  <strong>Address bairro:</strong>
  <%= @backoffice_person.address_bairro %>
</p>

<p>
  <strong>Address zip:</strong>
  <%= @backoffice_person.address_zip %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @backoffice_person.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @backoffice_person.address_state %>
</p>

<p>
  <strong>Person tel1:</strong>
  <%= @backoffice_person.person_tel1 %>
</p>

<p>
  <strong>Person tel2:</strong>
  <%= @backoffice_person.person_tel2 %>
</p>

<p>
  <strong>Person email:</strong>
  <%= @backoffice_person.person_email %>
</p>

<p>
  <strong>Person obs:</strong>
  <%= @backoffice_person.person_obs %>
</p>

<%= link_to 'Edit', edit_backoffice_person_path(@backoffice_person) %> |
<%= link_to 'Back', backoffice_people_path %>
