<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @accounts_receivable.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accounts_receivable.description %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @accounts_receivable.kind %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @accounts_receivable.issue_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @accounts_receivable.expiration_date %>
</p>

<p>
  <strong>Received date:</strong>
  <%= @accounts_receivable.received_date %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @accounts_receivable.total_value %>
</p>

<p>
  <strong>Received value:</strong>
  <%= @accounts_receivable.received_value %>
</p>

<p>
  <strong>Remaining value:</strong>
  <%= @accounts_receivable.remaining_value %>
</p>

<p>
  <strong>Total parcels:</strong>
  <%= @accounts_receivable.total_parcels %>
</p>

<p>
  <strong>Parcel:</strong>
  <%= @accounts_receivable.parcel %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @accounts_receivable.sales %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @accounts_receivable.payment_type %>
</p>

<p>
  <strong>System user:</strong>
  <%= @accounts_receivable.system_user %>
</p>

<%= link_to 'Edit', edit_accounts_receivable_path(@accounts_receivable) %> |
<%= link_to 'Back', accounts_receivables_path %>
