<h1 class="page-header">Vendas</h1>

<button class="btn btn-info pull-right" data-toggle="collapse"
data-target="#demo">Filtros Para Pesquisa</button>
<br>
<br>

<div id="demo" class="collapse">
	<div class="panel-body">
		<%= search_form_for [:backoffice, @q] do |f| %>
		<%= f.condition_fields do |c| %>
		<%= render "backoffice/sales/condition_fields", f: c %>
		<% end %>
		<br>
		<%= link_to_add_fields "Adicionar Condições", f, :condition,
		:class => 'icon fa fa-plus' %>
		<div class="actions text-center">
			<%= f.submit "Pesquisar", :class => 'btn btn-primary'  %>
		</div>
		<br>
		<% end %>
	</div>
</div>
<br>

<div class="panel panel-default">
	<div class="panel-heading">
		Listando Vendas
		<%= link_to new_backoffice_sale_path, class: "btn btn-success btn-circle
		pull-right", style:"margin-top: -5px" do %>
		<i class="fa fa-plus"></i>
		<% end -%>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><%= sort_link(@q, :id, "#") %></th>
						<th><%= sort_link(@q, :data, "Data") %></th>
						<th><%= sort_link(@q, :total_value, "Valor Total") %></th>
						<th>Desconto</th>
						<th><%= sort_link(@q, :state, "Estado") %></th>
						<th>Cliente</th>
						<th><%= sort_link(@q, :payment_type, "Tipo de Pagamento") %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @sales.each do |sale| %>
					<tr>
						<td><%= sale.id %></td>
						<td><%= sale.date %></td>
						<td><%= valor_formatado(sale.total_value) %></td>
						<td><%= valor_formatado(sale.discount_value) %></td>
						<td><%= sale.state %></td>
						<td><%= sale.person.name %></td>
						<td><%= sale.payment_type.kind %></td>

						<td style="width: 150px">
							<%= link_to backoffice_sale_path(sale),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-info-circle"></i>
							<% end %>
							<%= link_to edit_backoffice_sale_path(sale),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-edit"></i>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @sales %>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.panel-body -->
</div>
