<h1 class="page-header">Vendas</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Visualizando Venda
    <%= link_to backoffice_sales_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Data:</strong>
      <%= @sale.date %>
    </p>

    <p>
      <strong>Valor Total:</strong>
      <%= valor_formatado(@sale.total_value) %>
    </p>

    <p>
      <strong>Desconto:</strong>
      <%= valor_formatado(@sale.discount_value) %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @sale.state %>
    </p>

    <p>
      <strong>Cliente:</strong>
      <%= @sale.person.name %>
    </p>

    <p>
      <strong>Tipo de Pagamento:</strong>
      <%= @sale.payment_type.kind %>
    </p>

    <p>
      <strong>Produtos da Venda:</strong>
      <% @sale.item_sales.each do |item| %>
      <p>
        <strong>Produto</strong>
        <%= item.product.description  %>
      </p>
      <p>
        <strong>Quantidade</strong>
        <%= item.amount  %>
      </p>
      <p>
        <strong>Valor Total</strong>
        <%= valor_formatado(item.total_value) %>
      </p>
      <% end %>
    </p>

  </div>
</div>
