<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :person_rg %>
    <%= form.text_field :person_rg %>
  </div>

  <div class="field">
    <%= form.label :personC_ie %>
    <%= form.text_field :personC_ie %>
  </div>

  <div class="field">
    <%= form.label :person_cpf %>
    <%= form.text_field :person_cpf %>
  </div>

  <div class="field">
    <%= form.label :personC_cnpj %>
    <%= form.text_field :personC_cnpj %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :address_number %>
    <%= form.text_field :address_number %>
  </div>

  <div class="field">
    <%= form.label :address_complement %>
    <%= form.text_field :address_complement %>
  </div>

  <div class="field">
    <%= form.label :address_bairro %>
    <%= form.text_field :address_bairro %>
  </div>

  <div class="field">
    <%= form.label :address_zip %>
    <%= form.text_field :address_zip %>
  </div>

  <div class="field">
    <%= form.label :address_city %>
    <%= form.text_field :address_city %>
  </div>

  <div class="field">
    <%= form.label :address_state %>
    <%= form.text_field :address_state %>
  </div>

  <div class="field">
    <%= form.label :person_tel1 %>
    <%= form.text_field :person_tel1 %>
  </div>

  <div class="field">
    <%= form.label :person_tel2 %>
    <%= form.text_field :person_tel2 %>
  </div>

  <div class="field">
    <%= form.label :person_email %>
    <%= form.text_field :person_email %>
  </div>

  <div class="field">
    <%= form.label :person_obs %>
    <%= form.text_field :person_obs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
