<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Name</th>
      <th>Company name</th>
      <th>Person rg</th>
      <th>Personc ie</th>
      <th>Person cpf</th>
      <th>Personc cnpj</th>
      <th>Address</th>
      <th>Address number</th>
      <th>Address complement</th>
      <th>Address bairro</th>
      <th>Address zip</th>
      <th>Address city</th>
      <th>Address state</th>
      <th>Person tel1</th>
      <th>Person tel2</th>
      <th>Person email</th>
      <th>Person obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.kind %></td>
        <td><%= person.name %></td>
        <td><%= person.company_name %></td>
        <td><%= person.person_rg %></td>
        <td><%= person.personC_ie %></td>
        <td><%= person.person_cpf %></td>
        <td><%= person.personC_cnpj %></td>
        <td><%= person.address %></td>
        <td><%= person.address_number %></td>
        <td><%= person.address_complement %></td>
        <td><%= person.address_bairro %></td>
        <td><%= person.address_zip %></td>
        <td><%= person.address_city %></td>
        <td><%= person.address_state %></td>
        <td><%= person.person_tel1 %></td>
        <td><%= person.person_tel2 %></td>
        <td><%= person.person_email %></td>
        <td><%= person.person_obs %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
