<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @person.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @person.company_name %>
</p>

<p>
  <strong>Person rg:</strong>
  <%= @person.person_rg %>
</p>

<p>
  <strong>Personc ie:</strong>
  <%= @person.personC_ie %>
</p>

<p>
  <strong>Person cpf:</strong>
  <%= @person.person_cpf %>
</p>

<p>
  <strong>Personc cnpj:</strong>
  <%= @person.personC_cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @person.address_number %>
</p>

<p>
  <strong>Address complement:</strong>
  <%= @person.address_complement %>
</p>

<p>
  <strong>Address bairro:</strong>
  <%= @person.address_bairro %>
</p>

<p>
  <strong>Address zip:</strong>
  <%= @person.address_zip %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @person.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @person.address_state %>
</p>

<p>
  <strong>Person tel1:</strong>
  <%= @person.person_tel1 %>
</p>

<p>
  <strong>Person tel2:</strong>
  <%= @person.person_tel2 %>
</p>

<p>
  <strong>Person email:</strong>
  <%= @person.person_email %>
</p>

<p>
  <strong>Person obs:</strong>
  <%= @person.person_obs %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
