<p id="notice"><%= notice %></p>

<h1>Backoffice Categories</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backoffice_categories.each do |backoffice_category| %>
      <tr>
        <td><%= backoffice_category.description %></td>
        <td><%= link_to 'Show', backoffice_category %></td>
        <td><%= link_to 'Edit', edit_backoffice_category_path(backoffice_category) %></td>
        <td><%= link_to 'Destroy', backoffice_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backoffice Category', new_backoffice_category_path %>
