<h1 class="page-header">Vendas</h1>

<% if @sale.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @sale.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_sales_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="col-lg-12">
      <%= simple_form_for([:backoffice, @sale], html: { class: 'form-horizontal' }) do |f| %>

      <!-- <div class="form-group">
        <%= f.label :date, :class => 'control-label col-lg-2' %>
        <div class="col-lg-5">
          <%= f.datetime_select :date, :class => 'form-control', :disabled => 'disabled' %>
        </div>
      </div> -->

      <div class="form-inputs">

        <div class="row">
          <div class="form-group">
            <%= f.label :state, :class => 'control-label col-lg-1' %>
            <div class="col-lg-3">
              <%= f.input :state, collection: ["Aberta", "Aguardando Pagamento", "Finalizada", "Cancelada"] %>
            </div>
            <div class="colg-lg-5">
              <%= f.label :payment_type_id, :class => 'control-label col-lg-3' %>
              <div class="col-lg-3">
                <%= f.collection_select :payment_type_id, PaymentType.all, :id, :kind,
                {}, {:class => 'form-control'} %>
              </div>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Cliente</h5>
          </div>
          <div class="panel-body">
            <div class="col-lg-12">
              <div class="col-lg-5">
                <%= f.association :person %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Produtos</h5>
          </div>
          <div class="panel-body">
            <div id="item_sales">
              <div class="col-lg-5">
                <%= f.simple_fields_for :item_sales do |f| %>
                <%= render 'backoffice/item_sales/item_fields', f: f %>
                <% end %>
                <div class="form-actions">
                  <hr/>
                  <%= link_to_add_association 'Adicionar Produto', f, :item_sales,
                  :partial => 'backoffice/item_sales/item_fields', :class => "btn btn-success "%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <%= f.label :total_value %>
          <%= f.text_field :total_value %>
        </div>

        <div class="field">
          <%= f.label :discount_value %>
          <%= f.text_field :discount_value %>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-success">Salvar</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>





