<h1 class="page-header">Vendas</h1>

<% if @sale.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @sale.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_sales_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="col-lg-12">
      <%= simple_form_for([:backoffice, @sale], html: { class: 'form-horizontal' }) do |f| %>

      <div class="form-inputs">

        <div class="form-group">
          <div class="col-lg-8">
            <div class="col-sm-3">
              <%= f.input :state, collection: [["Aberta", "Aberta"],
              ["Aguardando Pagamento", "Aguardando Pagamento"], ["Finalizada", "Finalizada"],
              ["Cancelada", "Cancelada"]], default: "Aberta" %>
            </div>
            <div class="col-lg-4">
              <div class="col-sm-8">
                <%= f.association :payment_type, label_method: :kind,
                value_method: :id, include_blank: false %>
              </div>
            </div>
          </div>
        </div>

        <fieldset>
          <legend> Ciente </legend>
          <div class="col-lg-5">
            <%= f.association :person, value_method: :id, input_html: {id: 'e1'}%>
          </div>
          <br>
          <br>
        </fieldset>

        <fieldset>
          <legend> Produtos </legend>
          <div class="col-lg-12">
            <%= f.simple_fields_for :item_sales do |f| %>
            <%= render 'backoffice/item_sales/item_fields', f: f %>
            <% end %>
            <br>
            <div class="form-actions">
              <%= link_to_add_association 'Adicionar Produto', f, :item_sales,
              :partial => 'backoffice/item_sales/item_fields', :class => "btn btn-success" %>
            </div>
            <br>
          </div>
          <br>
          <br>
        </fieldset>

        <hr>
        <br>
        <div class="row col-lg-6">
          <div class="form-group">
            <div class="col-sm-3">
              <%= f.input :total_value, :disabled => true %>
            </div>
            <div class="col-lg-3">
              <div class="col-sm-10">
                <%= f.input :discount_value %>
              </div>
            </div>
          </div>



          <div class="form-actions">
            <button type="submit" class="btn btn-success">Salvar</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>





