<p id="notice"><%= notice %></p>

<h1>Backoffice Accounts Payables</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Description</th>
      <th>Document kind</th>
      <th>Document number</th>
      <th>Issue date</th>
      <th>Expiration date</th>
      <th>Payment date</th>
      <th>Total parcels</th>
      <th>Current parcel</th>
      <th>Payable value</th>
      <th>Additions value</th>
      <th>Discount value</th>
      <th>Total value</th>
      <th>Paid value</th>
      <th>Voucher image</th>
      <th>Purchase</th>
      <th>System user</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backoffice_accounts_payables.each do |backoffice_accounts_payable| %>
      <tr>
        <td><%= backoffice_accounts_payable.state %></td>
        <td><%= backoffice_accounts_payable.description %></td>
        <td><%= backoffice_accounts_payable.document_kind %></td>
        <td><%= backoffice_accounts_payable.document_number %></td>
        <td><%= backoffice_accounts_payable.issue_date %></td>
        <td><%= backoffice_accounts_payable.expiration_date %></td>
        <td><%= backoffice_accounts_payable.payment_date %></td>
        <td><%= backoffice_accounts_payable.total_parcels %></td>
        <td><%= backoffice_accounts_payable.current_parcel %></td>
        <td><%= backoffice_accounts_payable.payable_value %></td>
        <td><%= backoffice_accounts_payable.additions_value %></td>
        <td><%= backoffice_accounts_payable.discount_value %></td>
        <td><%= backoffice_accounts_payable.total_value %></td>
        <td><%= backoffice_accounts_payable.paid_value %></td>
        <td><%= backoffice_accounts_payable.voucher_image %></td>
        <td><%= backoffice_accounts_payable.purchase %></td>
        <td><%= backoffice_accounts_payable.system_user %></td>
        <td><%= backoffice_accounts_payable.references %></td>
        <td><%= link_to 'Show', backoffice_accounts_payable %></td>
        <td><%= link_to 'Edit', edit_backoffice_accounts_payable_path(backoffice_accounts_payable) %></td>
        <td><%= link_to 'Destroy', backoffice_accounts_payable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backoffice Accounts Payable', new_backoffice_accounts_payable_path %>
