<h1 class="page-header">Contas a Pagar</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Visualizando Conta a Pagar
    <%= link_to backoffice_accounts_payables_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Estado:</strong>
      <%= @accounts_payable.state %>
    </p>

    <p>
      <strong>Descrição:</strong>
      <%= @accounts_payable.description %>
    </p>

    <p>
      <strong>Tipo Documento:</strong>
      <%= @accounts_payable.document_kind %>
    </p>

    <p>
      <strong>Numero do Documento:</strong>
      <%= @accounts_payable.document_number %>
    </p>

    <p>
      <strong>Data de Emissão:</strong>
      <%= @accounts_payable.issue_date %>
    </p>

    <p>
      <strong>Data de Vencimento:</strong>
      <%= @accounts_payable.expiration_date %>
    </p>

    <p>
      <strong>Data de Pagamento:</strong>
      <%= @accounts_payable.payment_date %>
    </p>

    <p>
      <strong>Parcelas:</strong>
      <%= @accounts_payable.total_parcels %>
    </p>

    <p>
      <strong>Parcela Atual:</strong>
      <%= @accounts_payable.current_parcel %>
    </p>

    <p>
      <strong>Valor à Pagar:</strong>
      <%= valor_formatado(@accounts_payable.payable_value) %>
    </p>

    <p>
      <strong>Valor Adicional:</strong>
      <%= valor_formatado(@accounts_payable.additions_value) %>
    </p>

    <p>
      <strong>Valor Desconto:</strong>
      <%= valor_formatado(@accounts_payable.discount_value) %>
    </p>

    <p>
      <strong>Valor Total:</strong>
      <%= valor_formatado(@accounts_payable.total_value) %>
    </p>

    <p>
      <strong>Valor Pago:</strong>
      <%= valor_formatado(@accounts_payable.paid_value) %>
    </p>

    <p>
      <strong>Imagem Comprovante:</strong>
      <%= @accounts_payable.voucher_image %>
    </p>

    <p>
      <strong>Compra:</strong>
      <%= @accounts_payable.purchase %>
    </p>

  </div>
</div>
