<h1 class="page-header">Compras</h1>

<% if @purchase.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @purchase.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_purchases_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="col-lg-12">
      <%= simple_form_for([:backoffice, @purchase], html: { class: 'form-horizontal'}) do |f| %>

      <div class="form-inputs">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Cliente</h5>
          </div>
          <div class="panel-body">
            <div class="col-lg-12">
              <div class="col-lg-5">
                <%= f.association :person, value_method: :id, input_html: {id: 'e1'}%>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Produtos</h5>
          </div>
          <div class="panel-body">
            <div id="item_sales">
              <div class="col-lg-12">
                <%= f.simple_fields_for :item_purchases do |f| %>
                <%= render 'backoffice/item_purchases/item_fields', f: f %>
                <% end %>
                <div class="form-actions">
                  <hr/>
                  <%= link_to_add_association 'Adicionar Produto', f, :item_purchases,
                  :partial => 'backoffice/item_purchases/item_fields', :class => "btn btn-success "%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-lg-6">
          <div class="form-group">
            <div class="col-lg-3">
              <%= f.input :total_value %>
            </div>

            <div class="col-lg-3">
              <%= f.input :freight_value %>
            </div>
          </div>

          <button type="submit" class="btn btn-success">Salvar</button>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
</div>
