<h1 class="page-header">Compras</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		Listando Compras
		<%= link_to new_backoffice_purchase_path, class: "btn btn-success btn-circle
		pull-right", style:"margin-top: -5px" do %>
		<i class="fa fa-plus"></i>
		<% end -%>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Data</th>
						<th>Valor Total</th>
						<!-- <th>Freight value</th> -->
						<th>Fornecedor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @purchases.each do |purchase| %>
					<tr>
						<td><%= purchase.id %></td>
						<td><%= purchase.date %></td>
						<td><%= purchase.total_value %></td>
						<!-- <td><%= purchase.freight_value %></td> -->
						<td><%= purchase.provider.provider_rasocial %></td>
						<td style="width: 150px">
							<%= link_to backoffice_purchase_path(purchase),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-info-circle"></i>
							<% end %>
							<%= link_to edit_backoffice_purchase_path(purchase),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-edit"></i>
							<% end %>
							<button type="button" disabled="disabled"
							class="btn btn-danger btn-circle">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
