<h1 class="page-header">Compras</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Visualizando Compra
    <%= link_to backoffice_purchases_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Date:</strong>
      <%= @purchase.date %>
    </p>

    <p>
      <strong>Total value:</strong>
      <%= valor_formatado(@purchase.total_value) %>
    </p>

    <p>
      <strong>Freight value:</strong>
      <%= valor_formatado(@purchase.freight_value) %>
    </p>

    <p>
      <strong>Person:</strong>
      <%= @purchase.provider.provider_rasocial %>
    </p>

    <p>
      <strong>Produtos da Compra:</strong>
      <% @purchase.item_purchases.each do |item| %>
      <p>
        <strong>Produto</strong>
        <%= item.product.description  %>
      </p>
      <p>
        <strong>Quantidade</strong>
        <%= item.amount  %>
      </p>
      <% end %>
    </p>
  </div>
</div>
