<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @backoffice_purchase.date %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @backoffice_purchase.total_value %>
</p>

<p>
  <strong>Freight value:</strong>
  <%= @backoffice_purchase.freight_value %>
</p>

<p>
  <strong>Person:</strong>
  <%= @backoffice_purchase.person %>
</p>

<%= link_to 'Edit', edit_backoffice_purchase_path(@backoffice_purchase) %> |
<%= link_to 'Back', backoffice_purchases_path %>
