<div class="field">
	<br>
	<div class="row col-lg-12">
		<%= f.attribute_fields do |a| %>
		<div class="col-md-4">
			<%= a.attribute_select(options = {associations: [:sale, :person] }, html_options = {class: 'form-control'}) %>
		</div>
		<% end %>
		<div class="col-md-3">
			<%= f.predicate_select(options = {}, html_options = {class: 'form-control'}) %>
		</div>
		<%= f.value_fields do |v| %>
		<div class="col-md-4">
			<%= v.text_field :value, :placeholder => "Digite sua Pesquisa", :class => 'form-control' %>
		</div>
		<% end %>
		<%= link_to "Remover", '#', class: "remove_fields btn btn-danger" %>
	</div>
</div>
