<p id="notice"><%= notice %></p>

<h1>Backoffice Accounts Receivables</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Description</th>
      <th>Kind</th>
      <th>Issue date</th>
      <th>Expiration date</th>
      <th>Received date</th>
      <th>Total value</th>
      <th>Received value</th>
      <th>Remaining value</th>
      <th>Total parcels</th>
      <th>Parcel</th>
      <th>Sales</th>
      <th>Payment type</th>
      <th>System user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backoffice_accounts_receivables.each do |backoffice_accounts_receivable| %>
      <tr>
        <td><%= backoffice_accounts_receivable.state %></td>
        <td><%= backoffice_accounts_receivable.description %></td>
        <td><%= backoffice_accounts_receivable.kind %></td>
        <td><%= backoffice_accounts_receivable.issue_date %></td>
        <td><%= backoffice_accounts_receivable.expiration_date %></td>
        <td><%= backoffice_accounts_receivable.received_date %></td>
        <td><%= backoffice_accounts_receivable.total_value %></td>
        <td><%= backoffice_accounts_receivable.received_value %></td>
        <td><%= backoffice_accounts_receivable.remaining_value %></td>
        <td><%= backoffice_accounts_receivable.total_parcels %></td>
        <td><%= backoffice_accounts_receivable.parcel %></td>
        <td><%= backoffice_accounts_receivable.sales %></td>
        <td><%= backoffice_accounts_receivable.payment_type %></td>
        <td><%= backoffice_accounts_receivable.system_user %></td>
        <td><%= link_to 'Show', backoffice_accounts_receivable %></td>
        <td><%= link_to 'Edit', edit_backoffice_accounts_receivable_path(backoffice_accounts_receivable) %></td>
        <td><%= link_to 'Destroy', backoffice_accounts_receivable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backoffice Accounts Receivable', new_backoffice_accounts_receivable_path %>
