<h1 class="page-header">Contas a Receber</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Visualizando Conta a Receber
    <%= link_to backoffice_accounts_receivables_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Estado:</strong>
      <%= @accounts_receivable.state %>
    </p>

    <p>
      <strong>Descrição:</strong>
      <%= @accounts_receivable.description %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @accounts_receivable.kind %>
    </p>

    <p>
      <strong>Data Emissão:</strong>
      <%= @accounts_receivable.issue_date %>
    </p>

    <p>
      <strong>Data Vencimento:</strong>
      <%= @accounts_receivable.expiration_date %>
    </p>

    <p>
      <strong>Data Recebido:</strong>
      <%= @accounts_receivable.received_date %>
    </p>

    <p>
      <strong>Valor Total:</strong>
      <%= @accounts_receivable.total_value %>
    </p>

    <p>
      <strong>Valor Recebido:</strong>
      <%= @accounts_receivable.received_value %>
    </p>

    <p>
      <strong>Valor Restante:</strong>
      <%= @accounts_receivable.remaining_value %>
    </p>

    <p>
      <strong>Parcelas:</strong>
      <%= @accounts_receivable.total_parcels %>
    </p>

    <p>
      <strong>Parcela Atual:</strong>
      <%= @accounts_receivable.parcel %>
    </p>

    <p>
      <strong>Venda:</strong>
      <%= @accounts_receivable.sale %>
    </p>


  </div>
</div>
