<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @purchase.date %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @purchase.total_value %>
</p>

<p>
  <strong>Freight value:</strong>
  <%= @purchase.freight_value %>
</p>

<p>
  <strong>Person:</strong>
  <%= @purchase.person %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
