<div class="nested-fields">
  <div class="row">
    <div class="form-group">
      <div class="col-lg-4">
        <%= f.association :product, label_method: :description,
        value_method: :id, input_html: {id: 'e3' }, :class => 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= f.input :amount, input_html: {min: 1, step: 1, id:'qtde'} %>
      </div>
      <div class="col-sm-2 ">
        <%= f.input :value, input_html: {min: 0, step: 1, id: 'valor'} %>
      </div>
      <div class="col-sm-2">
        <%= f.input :total_value, input_html: {min: 0, step: 1, id: 'valor_total_produto'},
        disabled: true %>
      </div>

      <div class="row remove-item">
        <div class="container-remote-item" style="margin-top: 25px">
          <%= link_to_remove_association "", f, :class => "btn btn-danger btn-circle fa fa-minus"%>
        </div>
      </div>
    </div>
  </div>
</div>
