<h1 class="page-header">Fornecedores</h1>

<% if @provider.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @provider.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_providers_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <%= simple_form_for([:backoffice, @provider], html: { class: 'form-horizontal' }) do |f| %>

    <div class="form-inputs">
      <div class="container">

        <div class="row">
          <div class="form-group">
            <%= f.label :provider_rasocial, :class => 'control-label col-lg-2' %>
            <div class="col-lg-8">
              <%= f.text_field :provider_rasocial, :class => 'form-control',
               :placeholder => '*' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, :class => 'control-label col-lg-2' %>
            <div class="col-lg-8">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div id="ie">
              <%= f.label :provider_ie, :class => 'control-label col-lg-2' %>
              <div class="col-lg-3">
                <%= f.text_field :provider_ie, :class => 'form-control mask_ie' %>
              </div>
            </div>
            <div id="cnpj">
              <%= f.label :provider_cnpj, :class => 'control-label col-lg-2' %>
              <div class="col-lg-3">
                <%= f.text_field :provider_cnpj, :class => 'form-control mask_cnpj',
               :placeholder => '*' %>
              </div>
            </div>
          </div>
        </div>

        <!-- endereço -->
        <div class="row">
          <div class="form-group">
            <%= f.label :address, :class => 'control-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :address, :class => 'form-control' %>
            </div>

            <%= f.label :address_number, :class => 'control-label col-xs-1' %>
            <div class="col-lg-1">
              <%= f.text_field :address_number, :class => 'form-control' %>
            </div>

            <%= f.label :address_complement, :class => 'control-label col-xs-1' %>
            <div class="col-lg-2">
              <%= f.text_field :address_complement, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address_bairro, :class => 'control-label col-lg-2' %>
            <div class="col-lg-2">
              <%= f.text_field :address_bairro, :class => 'form-control' %>
            </div>

            <%= f.label :address_zip, :class => 'control-label col-xs-1' %>
            <div class="col-lg-1">
              <%= f.text_field :address_zip, :class => 'form-control mask_cep',
               :placeholder => '*' %>
            </div>

            <%= f.label :address_city, :class => 'control-label col-xs-1' %>
            <div class="col-lg-2">
             <%= f.text_field :address_city, :class => 'form-control' %>
           </div>

           <%= f.label :address_state, :class => 'control-label col-xs-1' %>
           <div class="col-lg-1">
            <%= f.text_field :address_state, :class => 'form-control',
               :placeholder => '*' %>
          </div>
        </div>
      </div>
      <!-- end endereço -->

      <!-- contato -->
      <div class="row">
        <div class="form-group">
          <%= f.label :provider_tel1, :class => 'control-label col-xs-2' %>
          <div class="col-lg-2">
            <%= f.text_field :provider_tel1, :class => 'form-control mask_celphone' %>
          </div>
          <%= f.label :provider_tel2, :class => 'control-label col-lg-1' %>
          <div class="col-lg-2">
            <%= f.text_field :provider_tel2, :class => 'form-control mask_phone',
               :placeholder => '*' %>
          </div>
        </div>
      </div>

      <button id="btn_sub" type="submit" class="btn btn-success">Salvar</button>
      <% end %>
    </div>
  </div>
</div>

<!-- /.panel-body -->
</div>
