<h1 class="page-header">Orçamentos</h1>

<button class="btn btn-info icon fa fa-arrow-down pull-right" data-toggle="collapse"
	data-target="#demo"> Pesquisa</button>
<br>
<br>
<div id="demo" class="collapse">
	<%= search_form_for [:backoffice, @q] do |f| %>
	<div class="col-md-8">
		<%= f.search_field :note_or_date_or_expiration_date_or_total_value_or_state_or_person_name_cont,
		 :placeholder => "Digite sua Pesquisa",
		:class => 'form-control' %>
	</div>
	<div class="actions">
		<%= link_to " ", request.path, :class => 'icon fa fa-times btn btn-danger' %>
		<%= f.submit "Pesquisar", :class => 'btn btn-primary' %>
	</div>
	<br>
	<% end %>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Listando Orçamentos
		<%= link_to new_backoffice_budget_path, class: "btn btn-success btn-circle
		pull-right", style:"margin-top: -5px" do %>
		<i class="fa fa-plus"></i>
		<% end -%>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Tipo</th>
						<th>Nota</th>
						<th>Data</th>
						<th>Data Vencimento</th>
						<th>Valor Total</th>
						<th>Estado</th>
						<th>Cliente</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @budgets.each do |budget| %>
					<tr>
						<td><%= budget.id %></td>
						<td><%= budget.kind %></td>
						<td><%= budget.note %></td>
						<td><%= budget.date %></td>
						<td><%= budget.expiration_date %></td>
						<td><%= valor_formatado(budget.total_value) %></td>
						<td><%= budget.state %></td>
						<td><%= budget.person.name %></td>
						<td style="width: 150px">
							<%= link_to backoffice_budget_path(budget),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-info-circle"></i>
							<% end %>
							<%= link_to edit_backoffice_budget_path(budget),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-edit"></i>
							<% end %>
							<button type="button" disabled="disabled"
							class="btn btn-danger btn-circle">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @budgets %>
	</div>
	<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
