<h1 class="page-header">Orçamentos</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Visualizando Orçamento
    <%= link_to backoffice_budgets_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Tipo:</strong>
      <%= @budget.kind %>
    </p>

    <p>
      <strong>Nota:</strong>
      <%= @budget.note %>
    </p>

    <p>
      <strong>Data:</strong>
      <%= @budget.date %>
    </p>

    <p>
      <strong>Data Vencimento:</strong>
      <%= @budget.expiration_date %>
    </p>

    <p>
      <strong>Valor Total:</strong>
      <%= valor_formatado(@budget.total_value) %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @budget.state %>
    </p>

    <p>
      <strong>Cliente:</strong>
      <%= @budget.person.name %>
    </p>

    <p>
      <strong>Produtos do Orçamento:</strong>
      <% @budget.item_budgets.each do |item| %>
      <p>
        <strong>Produto</strong>
        <%= item.product.description  %>
      </p>
      <p>
        <strong>Quantidade</strong>
        <%= item.amount  %>
      </p>
      <% end %>
    </p>
  </div>
</div>
