<h1 class="page-header">Contas a Receber</h1>

<% if @accounts_receivable.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @accounts_receivable.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_accounts_receivables_path,
    class: "btn btn-warning btn-circle pull-right",
      style:"margin-top: -5px"  do %>
      <i class="fa fa-arrow-left"></i>
      <% end %>
      <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-12">
        <%= simple_form_for([:backoffice, @accounts_receivable],
        html: { class: 'form-horizontal' }) do |f| %>

        <div class="row">
          <div class="col-sm-1">
            <%= f.input :state, collection: [["Aberta", "Aberta"], ["Paga", "Paga"],
             ["Cancelada", "Cancelada"]], :class => "control-label" %>
          </div>
          <div class="col-sm-1">
            <%= f.input :kind, collection: ["De Cliente", "De Oficina"] %>
          </div>
          <div class="col-sm-8">
            <div class="col-sm-7">
              <%= f.input :description, :placeholder => "*" %>
            </div>
          </div>
          <div class="col-sm-2">
            <%= f.input :sale_id %>
          </div>
        </div>
        <br>

        <fieldset>
          <legend> Datas </legend>

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :issue_date %>
              <%= f.date_field :issue_date, :class => "form-control" %>
            </div>
            <div class="col-sm-2">
              <%= f.label :expiration_date %>
              <%= f.date_field :expiration_date, :class => "form-control" %>
            </div>
            <div class="col-sm-2">
              <%= f.label :received_date %>
              <%= f.date_field :received_date, :class => "form-control", readonly: true %>
            </div>
          </div>
          <br>
        </fieldset>

        <fieldset>
          <legend> Valores </legend>
          <div class="row">
            <div class="col-sm-4">
              <%= f.label :total_value %>
              <%= f.number_field :total_value, :class => "form-control",
              in: 0..999999, :step => 0.01, :id => "valor_tConta", :placeholder => "*"  %>
            </div>

            <div class="col-sm-4">
              <%= f.label :received_value %>
              <%= f.number_field :received_value, :class => "form-control",
              in: 0..999999, :step => 0.01, :id => "valor_rConta" %>
            </div>

            <div class="col-sm-4">
              <%= f.label :remaining_value %>
              <%= f.number_field :remaining_value, :class => "form-control",
              in: 0..999999 , :step => 0.01, :id => "valor_reConta", readonly: true %>
            </div>
          </div>
          <br>
        </fieldset>

        <fieldset>
          <legend> Parcelas </legend>
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :total_parcels %>
              <%= f.number_field :total_parcels, :class => "form-control", :placeholder => "*" %>
            </div>

            <div class="col-sm-2">
              <%= f.label :parcel %>
              <%= f.number_field :parcel, :class => "form-control", readonly: true%>
            </div>
          </div>
          <br>
        </fieldset>

        <button type="submit" class="btn btn-success">Salvar</button>
        <% end %>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
