<%= form_with(model: backoffice_product, local: true) do |form| %>
  <% if backoffice_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(backoffice_product.errors.count, "error") %> prohibited this backoffice_product from being saved:</h2>

      <ul>
      <% backoffice_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_code %>
    <%= form.text_field :product_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :purchase_price %>
    <%= form.text_field :purchase_price %>
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.text_field :sale_price %>
  </div>

  <div class="field">
    <%= form.label :profit_margin %>
    <%= form.text_field :profit_margin %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :stock_reserved %>
    <%= form.number_field :stock_reserved %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
