<h1 class="page-header">Produtos</h1>

<button class="btn btn-info icon fa fa-arrow-down pull-right" data-toggle="collapse"
data-target="#demo"> Filtros Para Pesquisa</button>
<br>
<div id="demo" class="collapse">
	<div class="panel-body">
		<%= search_form_for [:backoffice, @q] do |f| %>
		<%= f.condition_fields do |c| %>
		<%= render "backoffice/products/condition_fields", f: c %>
		<% end %>
		<br>
		<%= link_to_add_fields "Adicionar Condições", f, :condition,
		:class => 'icon fa fa-plus' %>
		<div class="actions text-center">
			<%= f.submit "Pesquisar", :class => 'btn btn-primary'  %>
			<%= link_to " ", request.path, :class => 'icon fa fa-times btn btn-danger' %>
		</div>
		<br>
		<% end %>
	</div>
</div>
<br>

<div class="panel panel-default">
	<div class="panel-heading">
		Listando Produtos
		<%= link_to new_backoffice_product_path, class: "btn btn-success btn-circle
		pull-right", style:"margin-top: -5px" do %>
		<i class="fa fa-plus"></i>
		<% end %>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th><%= sort_link(@q, :id, "#") %></th>
						<th>Código Referencia</th>
						<th><%= sort_link(@q, :description, "Descrição") %></th>
						<th>Categoria</th>
						<th>Preço de Compra</th>
						<th><%= sort_link(@q, :sale_price, "Preço de Venda") %></th>
						<th>Margem de Lucro</th>
						<th><%= sort_link(@q, :stock, "Estoque") %></th>
						<th>Estoque Reservado</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= product.product_code %></td>
						<td><%= product.description %></td>
						<td><%= product.category.description %></td>
						<td><%= valor_formatado(product.purchase_price) %></td>
						<td><%= valor_formatado(product.sale_price) %></td>
						<td><%= percentual_formatado(product.profit_margin) %></td>
						<td><%= product.stock %></td>
						<td><%= product.stock_reserved %></td>
						<td style="width: 80px">
							<%= link_to edit_backoffice_product_path(product),
							class: "btn btn-primary btn-circle" do %>
							<i class="fa fa-edit"></i>
							<% end %>
							<button type="button" disabled="disabled"
							class="btn btn-danger btn-circle">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @products %>
	</div>
	<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>



