<p id="notice"><%= notice %></p>

<h1>Backoffice Products</h1>

<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Description</th>
      <th>Purchase price</th>
      <th>Sale price</th>
      <th>Profit margin</th>
      <th>Stock</th>
      <th>Stock reserved</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backoffice_products.each do |backoffice_product| %>
      <tr>
        <td><%= backoffice_product.product_code %></td>
        <td><%= backoffice_product.description %></td>
        <td><%= backoffice_product.purchase_price %></td>
        <td><%= backoffice_product.sale_price %></td>
        <td><%= backoffice_product.profit_margin %></td>
        <td><%= backoffice_product.stock %></td>
        <td><%= backoffice_product.stock_reserved %></td>
        <td><%= backoffice_product.category %></td>
        <td><%= link_to 'Show', backoffice_product %></td>
        <td><%= link_to 'Edit', edit_backoffice_product_path(backoffice_product) %></td>
        <td><%= link_to 'Destroy', backoffice_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backoffice Product', new_backoffice_product_path %>
