<p id="notice"><%= notice %></p>

<p>
  <strong>Product code:</strong>
  <%= @backoffice_product.product_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @backoffice_product.description %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @backoffice_product.purchase_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @backoffice_product.sale_price %>
</p>

<p>
  <strong>Profit margin:</strong>
  <%= @backoffice_product.profit_margin %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @backoffice_product.stock %>
</p>

<p>
  <strong>Stock reserved:</strong>
  <%= @backoffice_product.stock_reserved %>
</p>

<p>
  <strong>Category:</strong>
  <%= @backoffice_product.category %>
</p>

<%= link_to 'Edit', edit_backoffice_product_path(@backoffice_product) %> |
<%= link_to 'Back', backoffice_products_path %>
