<h1 class="page-header">Tipos de Pagamentos</h1>

<% if @payment_type.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <div id="error_expl" class="panel panel-danger">
      <% @payment_type.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end -%>
    </div>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_payment_types_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="form-horizontal">
      <%= form_for([:backoffice, @payment_type]) do |f| %>

      <div class="row">
        <div class="form-group">
          <%= f.label :kind, :class => 'control-label col-lg-2' %>
          <div class="col-lg-2 ">
            <%= f.select(:kind, options_for_select([['À Vista'], ['À Prazo'], ['Cartão Débito'],
            ['Cartão Credito'], ['Credito Parcelado'], ['Cheque'], ['Nota']]), {}, {:class => 'form-control'}) %>
          </div>
          <%= f.label :description, :class => 'control-label col-lg-2' %>
          <div class="col-lg-4">
            <%= f.text_field :description, :class => 'form-control',
             :placeholder => 'Ex: Somente Dinheiro/ Nota 30 dias' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :interest_rates, :class => 'control-label col-lg-2' %>
          <div class="col-lg-2">
            <%= f.text_field :interest_rates, :class => 'form-control' %>
          </div>
          <%= f.label :max_parcel, :class => 'control-label col-lg-2' %>
          <div class="col-lg-2">
            <%= f.text_field :max_parcel, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Salvar</button>
      <% end %>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
