<h1 class="page-header">Categorias</h1>

<% if @category.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_categories_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="form-horizontal">
      <%= form_for([:backoffice, @category]) do |f| %>
      <div class="row">
        <div class="form-group">
          <%= f.label :description, :class => 'control-label col-lg-2' %>
          <div class="col-lg-3">
            <%= f.text_field :description, :class => 'form-control', :placeholder => 'Ex: Farol/Parachoque *' %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Salvar</button>
      <% end %>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
