<h1 class="page-header">Contas a Pagar</h1>

<% if @accounts_payable.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @accounts_payable.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_accounts_payables_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="col-lg-12">
      <%= simple_form_for([:backoffice, @accounts_payable],
      html: {class: 'form-horizontal'}) do |f| %>


      <div class="row">
        <div class="col-sm-1">
          <%= f.input :state, collection: ["Aberta", "Paga", "Cancelada" ], default: "Aberta", disabled: true, :class => "control-label" %>
        </div>
        <div class="col-sm-2">
          <%= f.input :document_kind, collection: ["Conta", "Boleto", "Despesas"] %>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-6">
            <%= f.input :description %>
          </div>
        </div>
        <div class="col-sm-3">
          <%= f.input :document_number %>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="col-sm-4">
              <%= f.label :purchase_id %>
              <%= f.text_field :purchase_id, :class => "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <br>

      <fieldset>
        <legend> Datas </legend>

        <div class="row">
          <div class="col-sm-2">
            <%= f.label :issue_date %>
            <%= f.date_field :issue_date, :class => "form-control" %>
          </div>
          <div class="col-sm-2">
            <%= f.label :expiration_date %>
            <%= f.date_field :expiration_date, :class => "form-control" %>
          </div>
          <div class="col-sm-2">
            <%= f.label :payment_date %>
            <%= f.date_field :payment_date, :class => "form-control" %>
          </div>
        </div>
        <br>
      </fieldset>

      <fieldset>
        <legend> Parcelas </legend>
        <div class="row">
          <div class="col-sm-2">
            <%= f.label :total_parcels %>
            <%= f.number_field :total_parcels, :class => "form-control" %>
          </div>

          <div class="col-sm-2">
            <%= f.label :current_parcel %>
            <%= f.number_field :current_parcel, :class => "form-control" %>
          </div>
        </div>
        <br>
      </fieldset>

      <fieldset>
        <legend> Valores </legend>
        <div class="row">
          <div class="col-sm-2">
            <%= f.label :payable_value %>
            <%= f.number_field :payable_value, :class => "form-control",
            in: 0..999999, :step => 0.01 %>
          </div>

          <div class="col-sm-2">
            <%= f.label :additions_value %>
            <%= f.number_field :additions_value, :class => "form-control",
            in: 0..999999, :step => 0.01 %>
          </div>

          <div class="col-sm-2">
            <%= f.label :discount_value %>
            <%= f.number_field :discount_value, :class => "form-control",
            in: 0..999999 , :step => 0.01 %>
          </div>

          <div class="col-sm-2">
            <%= f.label :total_value %>
            <%= f.number_field :total_value, :class => "form-control",
            in: 0..999999 , :step => 0.01 %>
          </div>

          <div class="col-sm-2">
            <%= f.label :paid_value %>
            <%= f.number_field :paid_value, :class => "form-control",
            in: 0..999999 , :step => 0.01 %>
          </div>
        </div>
        <br>
      </fieldset>

      <fieldset>
        <legend> Imagem </legend>
        <div class="row">
          <div class="col-lg-8">
            <div class="col-sm-2">
              <%= f.label :voucher_image %>
            </div>
            <%= f.text_field :voucher_image, :class => "col-lg-2" %>
            <button type="button" class="btn btn-info btn-circle btn-sm">
              <i class="fa fa-link"></i></button>
          </div>
        </div>
        <br>
        <br>
      </fieldset>

    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <% end %>
  </div>
</div>
<!-- /.panel-body -->
</div>
