<h1 class="page-header">Contas a Pagar</h1>

<% if @accounts_payable.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

  <ul>
    <% @accounts_payable.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end -%>
  </ul>

</div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to backoffice_accounts_payables_path, class: "btn btn-warning btn-circle pull-right",
    style:"margin-top: -5px"  do %>
    <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= action %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="col-lg-6">
      <%= form_for([:backoffice, @accounts_payable]) do |f| %>

      <div class="form-group">

        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div class="field">
          <%= f.label :document_kind %>
          <%= f.text_field :document_kind %>
        </div>

        <div class="field">
          <%= f.label :document_number %>
          <%= f.text_field :document_number %>
        </div>

        <div class="field">
          <%= f.label :issue_date %>
          <%= f.datetime_select :issue_date %>
        </div>

        <div class="field">
          <%= f.label :expiration_date %>
          <%= f.datetime_select :expiration_date %>
        </div>

        <div class="field">
          <%= f.label :payment_date %>
          <%= f.datetime_select :payment_date %>
        </div>

        <div class="field">
          <%= f.label :total_parcels %>
          <%= f.number_field :total_parcels %>
        </div>

        <div class="field">
          <%= f.label :current_parcel %>
          <%= f.number_field :current_parcel %>
        </div>

        <div class="field">
          <%= f.label :payable_value %>
          <%= f.text_field :payable_value %>
        </div>

        <div class="field">
          <%= f.label :additions_value %>
          <%= f.text_field :additions_value %>
        </div>

        <div class="field">
          <%= f.label :discount_value %>
          <%= f.text_field :discount_value %>
        </div>

        <div class="field">
          <%= f.label :total_value %>
          <%= f.text_field :total_value %>
        </div>

        <div class="field">
          <%= f.label :paid_value %>
          <%= f.text_field :paid_value %>
        </div>

        <div class="field">
          <%= f.label :voucher_image %>
          <%= f.text_field :voucher_image %>
        </div>

        <div class="field">
          <%= f.label :purchase_id %>
          <%= f.text_field :purchase_id %>
        </div>

      </div>

      <button type="submit" class="btn btn-success">Salvar</button>
      <% end %>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
